/* styles-produtos.css */

/* Estilo para o elemnto raiz */
.root {
    -fx-background-color: dodgerblue; /* Define a cor de fundo com azul dodger */
}

/* Estilo para os rótulos */
.label {
    -fx-font-size: 14px; /* Define o tamanho da fonte como 14px */
    -fx-text-fill: black; /* Define a cor do texto como preto */
    -fx-font-weight: bold; /* Define o peso da fonte como negrito */
}

/* Estilo para os campos de texto */
.text-field {
    -fx-background-color: white; /* Define a cor de fundo como branco */
    -fx-border-color: lightgray; /* Define a cor da borda como cinza claro */
}
/* Estilo para botões */
.button {
    -fx-background-color: linear-gradient(to bottom, black, dodgerblue); /* Define um gradiente de preto para azul dodger */
    -fx-text-fill: white; /* Define a cor do texto como branco */
    -fx-font-size: 14px; /* Define o tamanho da fonte como 14 px */
    -fx-cursor: hand; /* Define o cursor como uma mão ao passar sobre o botão */
}

/* Estilo para botões ao passar o mouse */
.button:hover {
    -fx-background-color: linear-gradient(to bottom, lightskyblue, deepskyblue); /* Define um gradiente de azul claro para azul profundo */
}

/* Estilo para visualização de tabelas */
.table-view {
    -fx-background-color: white; /* Define a cor de fundo como branco */
    -fx-border-color: lightgray; /* Define a cor da borda como cinza claro */
}

/* Estilo para cúlulas da tabela */
.table-cell {
    -fx-padding: 10px; /* Define o preenchimento interno como 10px */
    -fx-border-color: lightgray; /* Define a cor da borda como cinza claro */
}